body{
    overflow-y: hidden;
    overflow-x: hidden;
}

.header{
    background-color: #FFF7D1;
    width: 100vw;
    height: 9vh;
}
.header img{
    width: 150px;
}
.perfil-box{
    width: 200px;
}
#icon-pfp {
    width: 50px;
    height: 50px;
}
#arrow-profile{
    width: 20px;
    height: 10px;
}
.menu-pos{
    height: 91vh;
}
.menu{
    font-size: 17pt;
    color: #a6a6a6;
}

.menuItems{
    cursor: pointer;
    color: #a6a6a6;
    transition: 0.5s;
}

.menuItems:hover span{
    color: #F8DA39;
}

#info-box{
    border: 3px solid #a6a6a6;
}

#menu-icon{
    width: 30px;
    max-height: 30px;
}

#data-box{
    background-image: url('../img/Admin/fundo-adm.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#data-table{
    border-bottom: 3px solid #a6a6a6
}
.text-data{
    font-size: 1.2em;
}
.card{
    background-color: #e3f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: -15px 15px #d7d7d7;
}
.col-form-label{
    font-weight: bold;
    color: #a6a6a6;
    font-size: 16pt;
}
.inputAdm{
    border: 0px;
    border-bottom: 2px solid #b6bbbd;
    border-radius: 0;
    outline: transparent;
    background-color: transparent;
    color: #a6a6a6;
    font-size: 16pt;
    font-weight: 600;
}
.inputAdm:focus{
    background-color: transparent;
    box-shadow: none;
    border-color: #b6bbbd;
    color: #a6a6a6;
}
.inputAdm::placeholder{
    color: #a6a6a6;
}
.btn{
    background-color: #FABDC1;
    height: 120%;
    width: 120px;
    color: #6D9EAF;
    font-size: 16pt;
}
.inputFile input{
    display: none;
}
.inputFile label{
    cursor: pointer;
    color: skyblue;
    text-decoration: underline;
}