body{
    overflow-x: hidden;
}
.header{
    background-color: #FFF7D1;
    width: 100vw;
    height: 9vh;
}
.header img{
    width: 150px;
}
.perfil-box{
    width: 200px;
}
#icon-pfp {
    width: 50px;
    height: 50px;
}
#arrow-profile{
    width: 20px;
    height: 10px;
}
.menu-pos{
    height: 91vh;
}
.menu{
    font-size: 17pt;
    color: #a6a6a6;
}
#menu{
    display: inline-block;
}
.menuItems{
    cursor: pointer;
    color: #a6a6a6;
    transition: 0.5s;
}

.menuItems:hover span{
    color: #F8DA39;
}

#info-box{
    border: 3px solid #a6a6a6;
}

#menu-icon{
    width: 30px;
    max-height: 30px;
}

#data-box{
    width: 100%;
    height: 91vh;
    background-image: url('../img/Admin/fundo-adm.png');
    background-size:cover;
    background-position:inherit;
    background-repeat:no-repeat;
    overflow-y: scroll;
    overflow-x: hidden;
}
#data-box::-webkit-scrollbar{
    opacity: 0;
}

#data-table{
    border-bottom: 3px solid #a6a6a6
}
.text-data{
    font-size: 1.2em;
}
.card{
    background-color: #e3f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: -15px 15px #d7d7d7;
}
.col-form-label{
    font-weight: bold;
    color: #a6a6a6;
    font-size: 16pt;
}
.inputAdm{
    border: 0px;
    border-bottom: 2px solid #b6bbbd;
    border-radius: 0;
    outline: transparent;
    background-color: transparent;
    color: #a6a6a6;
    font-size: 16pt;
    font-weight: 600;
}
.inputAdm:focus{
    background-color: transparent;
    box-shadow: none;
    border-color: #b6bbbd;
    color: #a6a6a6;
}
.inputAdm::placeholder{
    color: #a6a6a6;
}
.btn{
    background-color: #FABDC1;
    height: 120%;
    width: 120px;
    color: #6D9EAF;
    font-size: 16pt;
}
.inputFile input{
    display: none;
}
.inputFile label{
    cursor: pointer;
    color: skyblue;
    text-decoration: underline;
}
#event-card{
    box-shadow: -11px 14px 0px 0px rgba(216,209,209,1);
}

#event-card button { 
    background-color:#E6AEB2;
    color: #6DA2B1;
    height: 9vh;
}

.inputGeral{
    border: 3px solid #A6A6A6;
    background-color: transparent;
    color: #a6a6a6;
    font-size: 16pt;
    font-weight: 600;
}
.inputGeral:focus{
    background-color: transparent;
    box-shadow: none;
    border-color: #b6bbbd;
    color: #a6a6a6;
}
.inputGeral::placeholder{
    color: #a6a6a6;
    font-weight: lighter;
}
.bannerOrg{
    border: 4px solid #A6A6A6;
}
.pfpIconOrg{
    width: 200px;
    top: 40px;
    left: 40px;
    border-radius: 50%;
    border: 4px solid #A6A6A6;
    z-index: 100;
}

#formBox{
    box-shadow: -14px 16px 0px 6px rgba(166,166,166,0.54);
}

.infoModalHeader{
    background-color: #FFF7D1;
    color: #A6A6A6;
}
.desc-box{
    min-height: 150px;
    border: 3px solid #a6a6a6;
}
.btn-adm {
    background-color:#FABDC1;
    color: #6DA2B1;
    height: 7vh;
}

@media only screen and (min-width: 758px) {
    .modal-content{
        box-shadow: -9px 10px 0px 0px rgba(166,166,166,1);
    }
  }

#modalInfo{
    background-color: rgba(0, 0, 0, 0.2); /* Cor de fundo semi-transparente */
}
#modalExcluir{
    background-color: rgba(0, 0, 0, 0.2); /* Cor de fundo semi-transparente */
}
#modalAceitar{
    background-color: rgba(0, 0, 0, 0.2); /* Cor de fundo semi-transparente */
}
#modalRestaurar{
    background-color: rgba(0, 0, 0, 0.2); /* Cor de fundo semi-transparente */
}
.hamburger {
    height: 50px;
    width: 50px;
    position: relative;
  }
  .hamburger-wrapper {
    position: absolute;
    top: 90px; /* Ajuste conforme necessário */
    right: 10px; /* Ajuste conforme necessário */
    z-index: 1000; /* Garante que esteja acima de outros elementos */
}

  .hamburger .checkbox {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  .line {
    transition: 0.5s;
    stroke-width: 6px;
    stroke: black;
  }
  .lineTop {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 25;
  }
  .lineBottom {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 60;
  }
  .lineMid {
    stroke-dasharray: 40 40;
  }
  .hamburger .checkbox:checked + svg .line {
    stroke: crimson;
  }
  .hamburger .checkbox:checked + svg .lineTop {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(45deg) translate(-7px, -5px);
  }
  .hamburger .checkbox:checked + svg .lineMid {
    stroke-dashoffset: 40;
  }
  .hamburger .checkbox:checked + svg .lineBottom {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(-45deg) translate(-5px, 5px);
  }
     /* Adicione o estilo para o sidebar */
     .sidebar {
        position: absolute;
        top: 20;
        left: -300px; /* Inicia oculto */
        height: 91%;
        width: 150px;
        background-color: #FFF7D1;
        padding-top: 60px;
        transition: all 0.3s;
        z-index: 1000;
    }

    

    .show {
        left: 0; /* Mostra quando a classe show é adicionada */
    }
    .first-div {
        width: 100%;
        height: 20vw; /* Altura igual à altura da janela de visualização */
        background-color: #453c96; /* Azul claro */
        overflow: hidden; /* Para garantir que a imagem não ultrapasse os limites do círculo */

    }
    .second-div {
        width:100%;
        height:50vw;
        background-color: #ffffff; /* Azul claro */

    }
    .third-div {
        width: 40vh; /* Largura do círculo */
        height: 40vh; /* Altura do círculo (será definida pelo padding) */
        position: absolute; 
        border-radius: 50%; /* Para fazer um círculo */
        margin: 0 auto; /* Para centralizar horizontalmente */
        position: absolute;
        top:25vh; 
        left: 15vh;
        background-color: #191824; /* Azul claro */
        overflow: hidden; /* Para garantir que a imagem não ultrapasse os limites do círculo */
    }
    .four-div {
        width: 40vw; /* Largura do círculo */
        height: 50vh; /* Altura do círculo (será definida pelo padding) */
        justify-content: center;
        align-items: center;
        display: flex;
        position: absolute;


    }
    .five-div {
        width: 100%; /* Largura do círculo */
        height: 50%; /* Altura do círculo (será definida pelo padding) */
        margin-top: auto;

    }
    .organization-name {
        font-size: 44px; /* Tamanho da fonte */
        font-weight: bold; /* Negrito */
        text-align: center; /* Alinhamento central */
    }

    .organization-description {
        font-size: 28px; /* Tamanho da fonte */
        text-align: center; /* Alinhamento central */
    }
